table {
    background-color: rgb(241, 232, 232);
    border: 2px solid black;
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 4em;
}

th {
    border-bottom: 2px solid black;
    padding: 1em;
    text-align: 0 auto;
    font-weight: bolder;
    color: rgb(78, 78, 78);
    background-color: rgb(250, 202, 139);
}

h2, h1 {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: .4em;
    font-size: 4em;
}

td {
    padding: .4em;
    font-family: Helvetica;
    text-align: center;
}

.borderSides {
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 80em;
}

.proparty {
    font-family: monospace, sans-serif;
    background-color: rgb(240, 202, 152);
    font-weight: 300;
}

body {
    background-color: rgb(186, 209, 224);
}

nav {
    height: 5%;
    width: 100%;
    position: fixed;
    background-color: rgb(240, 202, 152);
    text-align: center;
    padding: auto;
    z-index: 1;  
    top: 0; 
}

nav li {
    font-weight: bolder;
    font-size: 1.2em;
    display: inline;
    
}

footer {
    width: 100%;
    text-align: center;
    background-color: rgb(250, 202, 139);
}

nav li a:hover {
    color: gray;
    font-size: 1.4em;
}

a {
    text-decoration: none;
}
